---
layout: minimal
title: "Post"
permalink: /posts/index.html
image: '/assets/img/series.png'
description: "See all post..."
---

<h2>ALL POST</h2>
{% include article-ads %}
{% for post in site.posts %}
  <ul class="post-list">
      <li>
          <a title="Post's my title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
              <span class="entry-date">
              <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
          </a>
      </li>
  </ul>
{% endfor %}
